:root {
  --oui-font-family: 'Manrope', sans-serif;
  --oui-font-size-base: 16px;

  /* colors */
  --oui-color-primary: 98 76 165;
  --oui-color-primary-light: 173 142 217;
  --oui-color-primary-darken: 62 51 137;
  --oui-color-primary-contrast: 255 255 255;

  --oui-color-link: 158 107 208;
  --oui-color-link-light: 198 152 238;

  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 218 218 218;
  --oui-color-quaternary: 218 218 218;

  --oui-color-danger: 227 78 104;
  --oui-color-danger-light: 247 133 148;
  --oui-color-danger-darken: 204 59 88;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 33 204 148;
  --oui-color-success-light: 87 229 173;
  --oui-color-success-darken: 0 137 118;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 245 173 64;
  --oui-color-warning-light: 253 205 109;
  --oui-color-warning-darken: 235 134 28;
  --oui-color-warning-contrast: 255 255 255;

  --oui-color-fill: 23 20 35;
  --oui-color-fill-active: 30 29 48;

  --oui-color-base-1: 78 67 108;
  --oui-color-base-2: 64 56 91;
  --oui-color-base-3: 53 46 74;
  --oui-color-base-4: 44 39 64;
  --oui-color-base-5: 39 34 56;
  --oui-color-base-6: 32 28 48;
  --oui-color-base-7: 71 57 102;
  --oui-color-base-8: 27 23 42;
  --oui-color-base-9: 20 17 32;
  --oui-color-base-10: 11 10 22;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 255 255 255;

  --oui-color-trading-loss: 227 78 104;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 33 204 148;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 61 40 124;
  --oui-gradient-primary-end: 158 107 208;

  --oui-gradient-secondary-start: 75 51 129;
  --oui-gradient-secondary-end: 173 142 217;

  --oui-gradient-success-start: 18 124 90;
  --oui-gradient-success-end: 87 229 173;

  --oui-gradient-danger-start: 183 40 80;
  --oui-gradient-danger-end: 247 133 148;

  --oui-gradient-brand-start: 200 162 239;
  --oui-gradient-brand-end: 137 93 205;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 210 120 26;
  --oui-gradient-warning-end: 253 205 109;

  --oui-gradient-neutral-start: 26 28 24;
  --oui-gradient-neutral-end: 38 41 46;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}

html, body {
  font-family: 'Manrope', sans-serif !important;
  font-size: 16px !important;
}